/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее. */

/* identical to box height */
/* закрывающий тег */
/* identical to box height */
/* </HTML> */
/* identical to box height */
/* watermark */
/* identical to box height */

.page {
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 94px;
  padding-block: 100px;
  color: var(--main-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-text-weight);
}

.header {
  display: grid;
  justify-content: center;
  gap: 20px;
  border: 2px solid currentColor;
  padding-block: clamp(120px, 25.29vw, 130px);
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  background-color: var(--bg-color);
  inline-size: var(--block-width);
}

.header__logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: 100%;
  text-decoration: none;
  pointer-events: none;
}

.header__logo:focus {
  outline: none;
}

.header__title {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: 100%;
  text-align: center;
}

.memories {
  display: grid;
  gap: 50px;
}

.card-list {
  display: grid;
  gap: 50px;
}

.card {
  border: 2px solid currentColor;
  background-color: var(--bg-color);
  inline-size: var(--block-width);
}

.card__title {
  padding: 5px 10px 4px;
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: 'wght' var(--main-title-weight);
}

.card__label-wrapper {
  position: relative;
  border-block: 2px solid currentColor;
}

.watermark {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--stroke-color),
    0 1px var(--stroke-color),
    1px 0 var(--stroke-color),
    0 -1px var(--stroke-color);
  inset-inline-end: 25px;
  inset-block-start: 27px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center center;
  inline-size: 100%;
}

.card__image.hue-rotate-grayscale {
  filter: hue-rotate(340deg) grayscale(50%);
}

.card__image.bright {
  filter: brightness(130%);
}

.card__image.contrast {
  filter: contrast(160%);
}

.card__image.saturate-contrast-bright {
  filter: saturate(190%) contrast(150%) brightness(70%);
}

.card__image.bright-contrast {
  filter: brightness(70%) contrast(115%);
}

.card__image.invert-hue-rotate {
  filter: invert(85%) hue-rotate(165deg);
}

.card__image.blur {
  filter: blur(2px);
}

.card__image.sepia {
  filter: sepia(75%);
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px;
  line-height: 117%;
}

.card__buttons {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  block-size: 100%;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  block-size: 100%;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .heart {
  animation: change-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s ease-in 0.3s;
}

.button {
  position: relative;
  border: 2px solid currentColor;
  overflow: hidden;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: translate 0.5s ease-in-out;
  block-size: 100%;
  translate: -100%;
}

.button:hover::before {
  translate: 0%;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.button__text {
  position: relative;
  color: var(--hover-effect-color);
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.save-button {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
}

.save-icon {
  position: relative;
  color: var(--hover-effect-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.dialog[open] {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 30px 20px;
  border: 2px solid #000000;
  padding: 28px;
  inline-size: clamp(341px, 57.72vw, 353px);
  min-inline-size: 341px;
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.ok-button {
  grid-column: span 2;
  block-size: 38px;
}

@media (width <= 375px) {
  .page {
    gap: 100px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog[open] {
    padding-inline: 38px;
  }
}
